{% extends 'bootstrap/base.html' %}
{% block title %}
    TitulaTEC
{% endblock %}
{% block content %}
    {% block principal %}

    {% endblock %}
    {% if get_flashed_messages() %}
        {% for mensaje in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{mensaje}}</strong>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block scripts %}
    {{super()}}
{% endblock %}